* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 500px;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reset {
  margin: 10px;
  padding: 10px 30px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(16, 100%);
  grid-template-rows: repeat(16, 100%);
}

.grid-cell {
  border: 1px solid black;
}

.grid-cell-black {
  background-color: black;
}
