* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 500px;
  height: 500px;
  border: 1px solid black;
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.row {
  display: flex;
  height: 100%;
  width: 100%;
}

.black {
  background-color: black;
}

button {
  margin-bottom: 10px;
}

@media (max-width: 440px) {
  .container {
    width: 300px;
    height: 300px;
  }
}
