* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(16, 45px);
  grid-template-rows: repeat(16, 45px);
}

.grid-cell {
  border: 1px solid black;
}

.grid-cell-black {
  background-color: black;
}
